body {
  background-color: #FFF;
}

.bblmsg {
  position: relative;
  display: block;
  margin: 1px 10px;
  box-sizing: border-box;
}

.bblmsg-self {
  background-color: #0076FF;
  left: 100%;
  color: #FFF;
  transform: translateX(-100%);
  border-radius: 15px;
  border-bottom-right-radius: 0;
}

.bblmsg-other {
  background-color: #E6E5EB;
  color: #000;
  border-radius: 15px;
  border-bottom-left-radius: 0;
}

.bblmsg-self-repeat {
  background-color: #0076FF;
  left: 100%;
  color: #FFF;
  transform: translateX(-100%);
  border-radius: 15px;
}

.bblmsg-other-repeat {
  background-color: #E6E5EB;
  color: #000;
  border-radius: 15px;
}

.bblmsg-name {
  position: relative;
  display: block;
  padding: 3px;
  font-family: sans-serif;
  font-size: 10px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bblmsg-msg {
  position: relative;
  display: block;
  max-width: 50%;
  min-width: 1%;
  width: fit-content;
  min-height: 10px;
  padding: 6px 10px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  overflow: hidden;
  box-sizing: border-box;
}

#form {
  position: relative;
  margin-top: 10px;
  margin-left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

#user {
  width: 25%;
  border: solid 1px #999;
  background-color: #FFF;
  border-radius: 15px;
  padding: 6px 10px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  box-sizing: border-box;
  margin-right: 20px;
}

#user:focus {
  outline: none;
}

#message {
  width: 60%;
  border: solid 1px #999;
  background-color: #FFF;
  border-radius: 15px;
  padding: 6px 10px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  box-sizing: border-box;
}

#message:focus {
  outline: none;
}
